@using Fritz.ResourceManagement.Domain
@using Microsoft.EntityFrameworkCore
@using Fritz.ResourceManagement.Scheduling
@inject System.Security.Claims.ClaimsPrincipal CurrentUser
@inject Models.MyDbContext DbContext
@inject Data.ScheduleState MyScheduleState

	<div class="row">
		<div id="Availability" class="col-md-8" style="vertical-align: top; ">

			<h3>Set the availability for @CurrentUser.Identity.Name</h3>

			<div>

				<div style="display: inline-block">
					<h4>Scheduled Appointments</h4>

					<p>
						<input type="text" name="Name" bind="@NewScheduleItem.Name" placeholder="Name of the Appointment" />
						<input type="datetime" name="StartTime" bind="@NewScheduleItem.StartDateTime" placeholder="Start Date and Time" />
						<input type="datetime" name="EndTime" bind="@NewScheduleItem.EndDateTime" placeholder="End Date and Time" />
					</p>
					<button onclick="@(() => AddNewScheduleItem())">Add New Schedule Item</button>

				</div>

				<div style="display: inline-block">
					<h4>Create a Recurring Schedule</h4>

					<p>
						<input type="text" name="Name" bind="@NewRecurringSchedule.Name" placeholder="Name of the Recurring Appointment" />
						<input type="text" name="Pattern" bind="@NewRecurringSchedule.CronPattern" placeholder="CRON Pattern for schedule" />
						<input type="text" name="Duration" bind="@NewRecurringSchedule.DurationText" placeholder="Duration for each recurring item" />
						<input type="datetime" name="StartTime" bind="@NewRecurringSchedule.MinStartDateTime" placeholder="Start Date and Time" />
						<input type="datetime" name="EndTime" bind="@NewRecurringSchedule.MaxEndDateTime" placeholder="End Date and Time" />
					</p>
					<button onclick="@(() => AddNewRecurringSchedule())">Add New Recurring Schedule</button>

				</div>

			</div>

		</div>

		<div id="MySchedule" class="col-md-4">
			<h3>My Schedule</h3>

			<DayPicker />

			<DayView />

		</div>

	</div>


@functions {

	// Cheer 500 electrichavoc 07/06/19

	Schedule MySchedule { get; set; } = null;

	DateTime SelectedDate { get; set; } = DateTime.Today;

	DateTime ThisMonth { get { return new DateTime(SelectedDate.Year, SelectedDate.Month, 1); } }


	ScheduleItem NewScheduleItem;
	RecurringSchedule NewRecurringSchedule;

	protected override void OnInit()
	{
		ResetScheduleItem();
		MySchedule = GetMyAvailability();

		MyScheduleState.SelectDate(SelectedDate);
		MyScheduleState.Schedule = MySchedule;
		MyScheduleState.ExpandSchedule();

	}


	Schedule GetMyAvailability()
	{

		var personId = CurrentUser.GetPersonId();

		var thisPerson = DbContext
			.Persons
			.Include(p => p.Schedule)
			.ThenInclude(s => s.ScheduleItems)
			.Include(p => p.Schedule)
			.ThenInclude(s => s.RecurringSchedules)
			.First(p => p.Id == personId);

		return thisPerson.Schedule;

	}

	void AddNewScheduleItem()
	{

		// Cheer 200 ultramark 07/06/19
		// Cheer 100 TheMichaelJolley 07/06/19

		NewScheduleItem.Status = ScheduleStatus.NotAvailable;
		NewScheduleItem.ScheduleId = MySchedule.Id;

		DbContext.Schedules.Update(MySchedule);
		MySchedule.ScheduleItems.Add(NewScheduleItem);
		DbContext.SaveChanges();

		MyScheduleState.ScheduleUpdated();

		ResetScheduleItem();

	}

	void AddNewRecurringSchedule()
	{

		// Cheer 2000 organicIT 23/06/19 

		NewRecurringSchedule.Status = ScheduleStatus.NotAvailable;
		NewRecurringSchedule.ScheduleId = MySchedule.Id;

		DbContext.Schedules.Update(MySchedule);
		MySchedule.RecurringSchedules.Add(NewRecurringSchedule);
		DbContext.SaveChanges();

		MyScheduleState.ScheduleUpdated();

		ResetScheduleItem();

	}

	void ResetScheduleItem()
	{

		NewScheduleItem = new ScheduleItem();
		NewScheduleItem.StartDateTime = DateTime.Today;
		NewScheduleItem.EndDateTime = DateTime.Today.AddDays(1);

		NewRecurringSchedule = new RecurringSchedule();
		NewRecurringSchedule.MinStartDateTime = DateTime.Today;
		NewRecurringSchedule.MaxEndDateTime = DateTime.Today.AddDays(7);


	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
	}

}
