@page "/availability"
@attribute [Authorize]
@using VM = ViewModels.AvailabilityViewModel
@inject VM Model


<div id="availabityDataEntry">

	<div id="availabilityHead">
		<h3>Set the availability for @Model._User.Identity.Name</h3>
	</div>

	<div class="availabilityTabBar">

		<div class="btn-group-vertical" role="group" aria-label="Button group to choose availability data entry mode">

			<button type="button" class="btn @(Model.SelectedTab == VM.Tabs.Single ? "btn-primary" : "btn-outline-primary")" href="availability" @onclick="(() => Model.ClickTab(VM.Tabs.Single))">
	Single Event</button>

			<button type="button" class="btn @(Model.SelectedTab == VM.Tabs.Recurring ? "btn-primary" : "btn-outline-primary")" href="availability" @onclick="(() => Model.ClickTab(VM.Tabs.Recurring))">Recurring Events</button>

		</div>

	</div>

	<div class="availabilityCenter">

		<EditForm Model="Model">

			<div id="ScheduleItem" class="form-group" style="@(Model.SelectedTab != VM.Tabs.Single ? "display: none;" :"")">

				<div class="head">
					<h4>Scheduled Appointments</h4>

					<input class="form-control" type="text" name="Name" @bind="Model.NewScheduleItem.Name" placeholder="Name of the Appointment" />
				</div>

				<label class="label1">Start Time:</label>
				<DateTimeInput class="form-control startTime" Value="Model.NewScheduleItem.StartDateTime"></DateTimeInput>

				<label class="label2">End Time:</label>
				<DateTimeInput class="form-control endTime" Value="Model.NewScheduleItem.EndDateTime"></DateTimeInput>

				<div class="foot">
					<button class="btn btn-primary" @onclick="() => Model.AddNewScheduleItem()">Add New Schedule Item</button>
				</div>

			</div>

			<div id="RecurringSchedule" class="form-group" style="@(Model.SelectedTab != VM.Tabs.Recurring ? "display: none;" :"")">
				<h4>Create a Recurring Schedule</h4>

				<RecurrenceDataEntry Schedule="Model.NewRecurringSchedule" OnSave="Model.AddNewRecurringSchedule" />

			</div>

		</EditForm>

	</div>

	<div id="MySchedule">
		<h3>My Schedule</h3>

		<DayPicker />

		<DayView DayViewStart="Model.DayViewStart" DayViewEnd="Model.DayViewEnd" MyScheduleState="Model.MyScheduleState" />

	</div>

	<div id="ScheduleList">

		<!-- OUTPUT THE SCHEDULE LIST FOR THIS USER IN A GRID HERE -->

	</div>

</div>

@code {

	[CascadingParameter] Task<AuthenticationState> Context { get; set; }

	// Cheer 500 electrichavoc 07/06/19
	protected override async Task OnInitAsync()
	{
		var state = await Context;
		await Model.OnInitAsync(state.User);
		StateHasChanged();
	}
}
