@page "/availability"
@attribute [Authorize]
@using VM = ViewModels.AvailabilityViewModel
@inject VM Model


<div id="availabilityDataEntry">

	<div id="availabilityHead">
		<h1 class="h3">Set the availability for @Model._User.Identity.Name</h1>
	</div>

	<div class="availabilityTabBar">

		<div class="btn-group-vertical" role="tablist" aria-label="Type of Event To Add To Your Schedule">

			<button type="button" class="btn @(Model.SelectedTab == VM.Tabs.Single ? "btn-primary" : "btn-outline-primary")" @onclick="(() => Model.ClickTab(VM.Tabs.Single))" role="tab" aria-controls="ScheduleItem" aria-selected="@(Model.SelectedTab == VM.Tabs.Single ? "true" : "false")" id="single-event-tab-btn">
	Single Event</button>

			<button type="button" class="btn @(Model.SelectedTab == VM.Tabs.Recurring ? "btn-primary" : "btn-outline-primary")" @onclick="(() => Model.ClickTab(VM.Tabs.Recurring))" role="tab" aria-controls="RecurringSchedule" aria-selected="@(Model.SelectedTab == VM.Tabs.Recurring ? "true" : "false")" id="recurring-event-tab-btn">Recurring Events</button>

		</div>

	</div>

	<div class="availabilityCenter">

		<EditForm Model="Model">

			<div id="ScheduleItem" class="schedule-form-group form-group" hidden="@(Model.SelectedTab != VM.Tabs.Single)" tabindex="0" role="tabpanel" aria-labelledby="single-event-tab-btn">

				<h2 class="head h4">Schedule One Time Appointments</h2>
				<label for="scheduled-appointment-name" class="appointment-name-label">Appointment Name: </label>
				<input class="form-control appointment-name" type="text" name="Name" id="scheduled-appointment-name" @bind="Model.NewScheduleItem.Name" placeholder="Name of the Appointment" />
				<label class="label1" for="scheduled-appointment-start-time">Start Time:</label>
				<DateTimeInput class="form-control startTime" Value="Model.NewScheduleItem.StartDateTime" id="scheduled-appointment-start-time"></DateTimeInput>

				<label class="label2" for="scheduled-appointment-end-time">End Time:</label>
				<DateTimeInput class="form-control endTime" Value="Model.NewScheduleItem.EndDateTime" id="scheduled-appointment-end-time"></DateTimeInput>

				<div class="foot">
					<button class="schedule-item-button btn btn-primary" @onclick="() => Model.AddNewScheduleItem()">Add New Schedule Item</button>
				</div>

			</div>

			<div id="RecurringSchedule" class="schedule-form-group form-group" hidden="@(Model.SelectedTab != VM.Tabs.Recurring)" tabindex="0" role="tabpanel" aria-labelledby="recurring-event-tab-btn">
				<h2 class="head h4">Create a Recurring Schedule</h2>

				<RecurrenceDataEntry Schedule="Model.NewRecurringSchedule" OnSave="Model.AddNewRecurringSchedule" />

			</div>

		</EditForm>

	</div>

	<div id="MySchedule">
		<h2 class="h3">My Schedule</h2>

			<DayPicker />

			<DayView DayViewStart="Model.DayViewStart" DayViewEnd="Model.DayViewEnd" MyScheduleState="Model.MyScheduleState" />
		
	</div>

	<div id="ScheduleList">

		<!-- OUTPUT THE SCHEDULE LIST FOR THIS USER IN A GRID HERE -->

	</div>

</div>

@code {

	[CascadingParameter] Task<AuthenticationState> Context { get; set; }

	// Cheer 500 electrichavoc 07/06/19
	protected override async Task OnInitializedAsync()
	{
		var state = await Context;
		await Model.OnInitAsync(state.User);
		StateHasChanged();
	}
}
